* {
	font-family: Bombardier, monospace;
	font-size: 3vh;
	-webkit-text-stroke: .25px white;
	text-stroke: .25px white;
}

html, body {
	margin: 0;
}

html {
	height: 100%;
}

.selected-item {
	filter: drop-shadow(0px 0px 10px white);
}

body {
	background-size: cover;
	-webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-attachment: fixed;
	min-height: 100%;

}

.item-image {
	width: 128px;
	height: 128px;

	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.hide-on-desktop {
	display: none;
}

.small-icon {
	width: 3vh;
	height: 3vh;
}

table, td {
	border: 1px solid #22403d33;
	background-color: #4ea39b33;
}

@font-face {
  font-family: Bombardier;
  src: url(Bombardier.ttf);
}

#tooltip {
	display: none;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	max-width: 20vw;
	position: fixed;
}

.center-both {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.image-container, .container {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.Equipment {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: orange;
}
.Common {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: white;
}
.Uncommon {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: green;
}
.Legendary {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: red;
}
.Lunar {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: blue;
}
.Void {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: purple;
}
.Boss {
	-webkit-text-stroke: .25px black;
	text-stroke: .25px black;
	color: yellow;
}